<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${subject}">Your Guest Has Arrived</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 10px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <h3 th:text="${subject}">Your Guest Has Arrived</h3>
    </header>
    <p>Dear <span th:text="${hostname}">User</span>,</p>

    <p>
        We are pleased to inform you that your guest, <span th:text="${guetName}"></span>,
        has just checked in to see you.
    </p>
    <h4>Guest Details:</h4>
    <ul>
        <li><span style="font-weight: bold">Name</span>: <span th:text="${guestName}"></span></li>
        <li><span style="font-weight: bold">Phone</span>: <span th:text="${guestPhone}"></span></li>
        <li><span style="font-weight: bold">Company</span>: <span th:text="${guestCompany}"></span></li>
        <li><span style="font-weight: bold">Check-in Time</span>: <span th:text="${checkinTime}"></span></li>
    </ul>
    <p>
        Please proceed to the reception area to welcome your guest. If you need any assistance or
        have any special instructions for our team, feel free to let us know.
    </p>

    <h4>Next Steps:</h4>
    <ol>
        <li>
            <span style="font-weight: bold">Meet Your Guest:</span>Head to the reception area to greet
            <span th:text="${guestName}"></span>
        </li>
        <li>
            <span style="font-weight: bold">Check-out Process:</span>Once the meeting is over, ensure that
            the guest checks out to complete the visit record.
        </li>
    </ol>

    <p>
        We hope you have a productive meeting. Thank you for using Guest Logix to manage your visitors.
    </p>
    <footer>
        <p>
            For any assistance or queries, please feel free to contact our support team at
            <a href="https://www.linkedin.com/in/theophilusgordon">support@gordtex.org</a>
        </p>
        <p>Best regards,</p>
        <p>The Guest Logix Team</p>
        <p>GordTex Limited</p>
        <p>P. O. Box TG2024</p>
        <p>Phone: +233 (0) 507200245</p>
        <a href="https://www.linkedin.com/in/theophilusgordon">www.gordtex.com</a>
    </footer>
</div>
</body>
</html>