<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${subject}">Successful Check-Out at VLMS - Goodbye</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 10px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <h3 th:text="${subject}">Successful Check-Out at VLMS - Goodbye</h3>
    </header>
    <p>Dear <span th:text="${guestName}">User</span>,,</p>

    <p>
        You have successfully checked out at VLMS. We hope you had a pleasant visit.
    </p>
    <footer>
        <p>
            For any assistance or queries, please feel free to contact our support team at
            <a href="https://www.linkedin.com/in/theophilusgordon">support@vlms.org</a>
        </p>
        <p>Best regards,</p>
        <p>VLMS Team</p>
        <p>GordTex Limited</p>
        <p>P. O. Box TG2024</p>
        <p>Phone: +233 (0) 507200245</p>
        <a href="https://www.linkedin.com/in/theophilusgordon">www.vlms.com</a>
    </footer>
</div>
</body>
</html>