<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Successful Check-In at GordTex - Your QR Code for Future Visits</title>
</head>
<body>
    <header>
        <h3 th:text="${subject}">Successful Check-In at GordTex - Your QR Code for Future Visits</h3>
    </header>
    <p>Dear <span th:text="${guestname}">User</span>,,</p>

    <p>
        We are delighted to inform you that you have successfully checked in at
        GordTex. We hope you have a pleasant visit.
    </p>
    <p>
        To make your future check-ins even more efficient, please find your unique QR code attached to this email.
        You can use this QR code for quick check-ins on your next visits.
    </p>

    <h4>Next Steps:</h4>
    <ol>
        <li>
            <span style="font-weight: bold">Use Your QR Code</span>: Present the attached QR code during your
            next visit to expedite the check-in process.
        </li>
        <li>
            <span style="font-weight: bold">Enjoy Your Visit</span>: If you need any assistance during your stay,
            please do not hesitate to reach out to our team.
        </li>
    </ol>
        <h4>Your QR Code:</h4>
        <p>Please find your unique QR code attached to this email.</p>
    <img src="${cid:qrCode}" alt="QR Code" style="width: 200px; height: 200px;"/>
    <footer>
        <p>
            For any assistance or queries, please feel free to contact our support team at
            <a href="https://www.linkedin.com/in/theophilusgordon">support@gordtex.org</a>
        </p>
        <p>Best regards,</p>
        <p>The Guest Logix Team</p>
        <p>GordTex Limited</p>
        <p>P. O. Box TG2024</p>
        <p>Phone: +233 (0) 507200245</p>
        <a href="https://www.linkedin.com/in/theophilusgordon">www.gordtex.com</a>
    </footer>
</body>
</html>